[alias]
	st = status -sb
	l = log --decorate
	ci = commit
	co = checkout
	rb = rebase
	mg = merge
	br = branch
	di = diff
	dw = diff --word-diff
	pl = pull
	ps = push
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore
[user]
	name  = moznion
	email = moznion@gmail.com
