[alias]
	st = status -sb
	l = log --decorate
	lo = log --decorate --oneline
	ci = commit
	co = checkout
	rb = rebase
	mg = merge
	br = branch
	di = diff
	dw = diff --word-diff
	pl = pull
	ps = push
	s = sel
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[user]
	name  = moznion
	email = moznion@gmail.com
[http "https://gopkg.in"]
	followRedirects = true
