snippet dump
    use Data::Dumper::Concise; warn Dumper(${1:code}); # TODO remove

snippet peek
    use Devel::Peek; warn Dump(${1:code}); # TODO remove

snippet slurp
    do { local $/; <${1:filehandle}>; }

snippet has
    has ${1:member} => (
        is  => '${2:writability}',
        isa => '${3:type}',
    );

snippet subtest
    subtest '${1:name}' => sub {
        ${2:codes}
    };
